.fon
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 125.16, 116.88, 0.40) 0%, rgba(187.76, 224.19, 84.07, 0.40) 35%, rgba(180.62, 18.06, 105.85, 0.40) 71%, rgba(52.16, 189.90, 198.69, 0.40) 100%);
    filter: blur(100px);
    box-shadow: 200px 200px 200px;
    background-repeat:no-repeat;
    background-position: center center;
    z-index: -1;
}

.fon1
{
/* Rectangle 2 */

position: fixed;
width: 100%;
height: 70px;
right: 0%;
top: 0px;
background: #f2f2f2;
box-shadow: 0px 4px 20px 0px rgba(11, 11, 13, 0.3);
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
border: black;
gap: 2em;
}

.krug
{
position: relative;
top: 10px;
width: 70px;
height: 70px;
border-radius: 9999px; 
background: #f2f2f2;
display: flex;
justify-content: center; 
align-items: center;
align-self: flex-end;
}
.logo
{
    width: 55px;
    height: 55px;

}
.RuEn {
    /* position: absolute; */
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 400;
    line-height: 30.60px;
    word-wrap: break-word;
}
.strelka
{
    width: 30px;
    /* position: absolute; */
}

.searchline
{
    height: 50%;
    flex-basis: 55%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 5;

}
.search-input{
    padding-left: 10px;
    font-size: 16px;
    background: #DEDFE2;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #A7A7AB;
    flex-basis: 80%;
    flex-shrink: 5;
}

.search-button
{ 
    border-radius: 0px 15px 15px 0px;
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid #A7A7AB;
    flex-basis: 20%;
    justify-content: end;
    background-image: url(../img/seacrh1.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
}
.media
{
    height: 30px;
    /* position: absolute; */
}
header
{
    z-index: 1000;
    margin: 0 auto;
    height: 40px;
    display: flex;
    position: fixed;

}
footer
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.substrate
{
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    min-height: 100%;
    font-size: 24px;
    background: rgba(242, 242, 242, 1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;

}

.substrate>*{
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.slider{
width: 317px;
height: 370px;
border: 2px solid black;
border-radius: 15px;
overflow: hidden;
}

.slider-line{
z-index: 0;   
width: 317px;
height: 1480px;
font-size: 0px;
position: relative;
top: 0px;
transition: all ease 0.5s;
}

.attraction
{
    margin: 0%;
    padding: 0%;
    position: relative;
    height: 370px;
    min-width: 270px;
    max-width: 317px;
    border-radius: 15px;
}

.attractioninfo
{
    flex-basis: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attractioninfo>*{
    margin: 10px;
}

.name{
    font-size: 36px;
}
.sliderdots{

}
.active{
background-color: black;
}

.dots{
margin-bottom: 3px;
height: 10px;
width: 10px;
border: 1px solid rgb(0, 0, 0);
border-radius: 15px;
}


p
{
    padding-left: 10%;
    white-space: pre-line;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 15px;
    color: rgba(28, 28, 30, 0.8);
    flex-basis: 15%;
}

.buttons .button.mapbutton
{
    padding: 6px 20px;
    position: relative;
    display: inline-block;
    border: 1.5px solid rgba(0, 0, 0, 1);
    border-radius: 30px 30px 30px 30px;
    background: rgba(255, 199, 0, 1);
    text-decoration: none;
    color: black;
    overflow: hidden;
    
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>*{
    padding: 10px;
    flex: 1 100%;
}

.footer{
    height: 250px;
    text-align: left;
    background: #DEDFE2;
    width: 100%;
}

.main{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    background: deepskyblue;
    min-height: 300px;
    font-size: 24px;
    background: rgba(242, 242, 242, 1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.aside{
    margin: 0px;
    padding: 0px;
}


@media all and (min-width: 800px){
    .main{
        flex: 3;
    }

    .aside1{
        order: 1;
    }

    .aside2{
        order: 2;
    }

    .main{
        order: 2;
    }

    .footer{
        order: 4;
    }

}
@media all and (max-width: 1310px) {
    .attraction{
        margin-bottom: 10px; 
    }
    .attractioninfo{
        margin-top: 10px;
    }
}
@media all and (max-width: 800px) {
    .search-button{
        border-radius: 30px 30px 30px 30px;
        width: 35px;
        height: 35px;
        flex-basis: 100%;
    }
    .searchline{
        width: 35px;
        height: 35px;
        flex-basis: 7%;
    }
    .search-input{
        width: 0px;
        flex-basis: 0%;
        padding-left: 0px;
        height: 0px;
        font-size: 0px;
        background: #f2f2f2;
        border: none;
    }
}


.attractions{
    height: 400px;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    flex: 1 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    padding: 10px;
    height: 350px;
    width: 270px;
    background: salmon;
    border-radius: 10px;
}